html, body {
    font-family: Montserrat Alternates, Times, serif;
    text-align: center;
    background-color: #a7d7d3;
}
form {
    display: block;
    margin-top: 0;
}
label {
    cursor: default;
}
ul {
    list-style: none;
}
footer {
    font-family: Times, serif;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-top: 14px;
    width: 100%;
    z-index: 100;
    opacity: 1;
    background-color: rgba(235,235,235,.6);
}
#main-area {
    background-color: white;
    border-radius: 4px;
    width: 90%;
    margin: auto;
}
#name-label, #name {
    align-items: center;
}
#name, #email, #number {
    width: 100%;
}
#additional-comments {
    width: 100%;
    height: 200px;
    margin-top: 20px;
}
#submit {
    background-color: #05dfff;
    border-radius: 4px;
    height: 40px;
    width: 90px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}
#poweredby {
    font-family: Arial, Times, serif;
    margin-left: 20px;
}
.row {
    width: 100%;
    padding: 5px 10px 5px 10px;
}
.label {
    display: inline-block;
    text-align: right;
    width: 45%;
    padding: 5px;
    vertical-align: top;
    margin-top: 10px;
}
.inputBox {
    display: inline-block;
    text-align: left;
    width: 45%;
    padding: 5px;
    vertical-align: middle;
}
.radioButton {
    position: relative;
    left: -43px;
    margin-left: 10px;
    display: block;
    padding-bottom: 10px;
}
.checkboxCell {
    position: relative;
    left: -43px;
    margin-left: 10px;
    display: block;
    padding-bottom: 10px;
}
.fa-html5 {
    font-size: 24px;
    color: #ff0000;
}
.fa-css3-alt {
    font-size: 24px;
    color: #00b3ff;
}
@media screen and (max-width: 768px) {
    .label .inputBox {
        width: 100%;
        margin-top: 0;
    }
}